.navigation {
  transition: 0.2s ease;

  &.nav-bg {
    background: $white;
    @extend .shadow;
    @include desktop {
      top: -50px;
    }
  }
  @include desktop-lg {
    .container {
      max-width: 100%;
    }
  }
}

.nav-item {
  margin: 0;
  font-weight: 500;

  .nav-link {
    text-transform: capitalize;
    white-space: nowrap;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-size: 15px;
  @include desktop {
    padding: 10px;
    display: block;
  }
}

#select-language {
  border: 1px solid $border-color;
  background: transparent;
}

.navbar {
  .dropdown {
    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) scale(1);
        @include desktop {
          transform: translateX(0) scale(1);
        }
      }
    }

    i {
      font-size: 12px;
    }

    &-menu {
      padding: 25px 20px;
      @extend .shadow;
      border: 0;
      top: calc(100% - 10px);
      left: 50%;
      border-radius: 5px;
      background: $white;
      transition: 0.2s ease;
      display: block;
      visibility: hidden;
      opacity: 0;
      transform: translateX(-50%) scale(0.9);

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        text-align: inherit;
        width: 100%;
      }

      &.show {
        visibility: hidden;

        @include desktop {
          visibility: visible;
          display: block;
        }
      }
    }

    &-item {
      position: relative;
      color: $text-color-dark;
      transition: 0.2s ease;
      font-size: 15px;
      font-weight: 500;
      padding: 8px 10px;
      border-radius: inherit;
      white-space: nowrap;

      &:hover {
        color: $primary-color !important;
        background-color: $light;
      }
    }
  }
}

.search-wrapper {
  position: absolute;
  right: 0;
  width: 40px;
  z-index: 1;
  &.active {
    width: 450px;
    @include desktop {
      width: 100%;
    }
  }

  @include desktop {
    width: 100%;
    position: relative;
  }

  .form-control {
    height: 45px;
    border: 0;
    outline: 0;
    width: 100%;
    @extend .shadow;

    &::placeholder {
      color: $text-color-light;
      font-size: 15px;
    }

    &.active.focus-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    position: absolute;
    height: 45px;
    width: 45px;
    line-height: 45px;
    right: 0;
    top: 0;
    text-align: center;
    background-color: $primary-color;

    i {
      color: $primary-color;
    }
  }
}
